/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --title-text-color: #DB00FF;
  --heading-text-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
}

.theme-dark .page {
  .record {
    display: block;
  }

  .decorated-zone::before {
    border-inline-end: 1px solid var(--accent-color);
    border-block-start: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    border-inline-start: 1px solid var(--accent-color);
    border-block-end: 1px solid var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

 .header__theme-menu-button_type_dark {
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button_type_light {
    border: none;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color);
  }

  .content__heading {
    color: var(--accent-color);
  }

}





