/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image-dark);
  max-inline-size: 100%;
  max-block-size: 100%;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  background-image: var(--bg-image-dark);
  background-size: cover;
  max-inline-size: 100%;
  background-position: center;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.record {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  margin-inline-end: 38px;
  margin-block-start: 10px;
  font-family: var(--main-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--font-size);
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}  

.record::after {
  content: '';
  position: absolute;
  inset-inline-end: 19px;
  inset-block-start: 18px;
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  margin-inline-end: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--font-size);
  line-height: 18px;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  padding-inline-end: 13px;
  padding-inline-start: 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.header__title {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-heading);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--title-text-color);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description-text {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-heading);
  font-size: var(--font-size);
  line-height: 23.4px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--p-text-color);
}

.content {
  min-block-size: 5355px;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.why, .what, .how {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.heading, .subheading, .heading-decor {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-heading);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.heading {
  color: var(--accent-color);
}


.lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subheading + p {
  margin-block-start: 10px;
}

.content__description-text {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-text);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: #F1B2CE;
}

.a__content {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.a__content:focus {
  outline: none;
}

.a__content:focus-visible {
  outline: 1px solid #F1B2CE;
}

.a__content:hover {
  border-bottom: 1px solid #F1B2CE;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: var(--font-weigth-heading);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--title-text-color);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  text-shadow: 2px 2px 0 var(--accent-color);
}


